<div #ref class="bg-white flex flex-col shadow-2xl sm:border-input-border sm:border-1 sm:rounded-xl  w-screen h-screen sm:min-h-[350px] sm:h-auto sm:max-h-[500px] sm:w-[450px] z-[999999999] pb-2">
    <app-dialog-header title="Mis notificaciones" (onClose)="close()"/>
    
    <div class="overflow-y-scroll flex flex-col">
         @for (notificacion of notificaciones; track $index) {
            <app-notificacion [notificacion]="notificacion" (onTap)="leer(notificacion)" class="mb-1" />
        }
    </div>
</div>