    
        <div class="
                    fixed 
                    top-0 
                    left-0 
                    bottom-0 
                    right-0 
                    z-[1003] 
                    flex 
                    flex-col 
                    items-center 
                    justify-end
                    sm:justify-center
                    sm:py-6"

                    (click)="close()"
                >
            @let dialogMobilClasses = this.fullScreenOnMobile()? "w-full h-full": "rounded-t-xl w-full max-h-[60%]";
    
            <div 
                [class]="dialogMobilClasses"
                class="
                    sm:h-auto
                    sm:max-h-[800px] 
                    sm:min-h-[400px] 
                    sm:rounded-xl 
                    bg-[oklab(0.988044_0.0000450313_0.0000197887)]
                    sm:w-[600px]
                    flex
                    flex-col
                    py-2
                    pr-0.5
                " 
                (click)="$event.stopPropagation()"
            >            
                   
                @if(title()){
                    <app-dialog-header [title]="title()!"  (onClose)="this.close()"/> 
                }
    
                    <div class="overflow-x-hidden overflow-y-auto px-6">
                        <ng-content></ng-content>
                    </div>
               
            </div>
        </div>

