<button class="size-10 text-xl relative" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
</button>

@if (mostrarMenu()) {
    <div class="fixed top-0 left-0 right-0 bottom-0 bg-gray-900 opacity-50 z-50" (click)="toggleMenu()"> </div>
    <div class="fixed top-0 w-2xs h-full flex items-center bg-white right-0 z-51 px-1">
        <div class="w-full"> 
            @if (autenticado) {
                <div class="flex justify-center py-2">
                    <span>Bienvenido, <span class="font-semibold">{{username}}</span></span>
                </div>

                <div>
                    <app-menu-group [grupos]="items"></app-menu-group>
                </div>
            } @else {
                <div class="flex justify-center py-2">
                    <span class="text-center font-semibold">Inicia sesión para continuar o registrate</span>
                </div>

                <div>
                    <button class="primary-button text-button rounded-2xl! mb-1" (click)="mostrarLogin()">Iniciar sesión</button>

                    <button class="secondary-button text-button rounded-2xl!" (click)="mostrarRegistro()">Registrarse</button>
                </div>
            }
        </div>
   </div>
}
